### Packageversion imported from utils.
importFrom("utils", "packageVersion")

### declaration of method print and predict for
### stepmix.
S3method(print, stepmixr)
S3method(predict, stepmix.stepmix.StepMix)
S3method(print, stepmix.stepmix.StepMix)

### Method to export.
### Method to fit.
export(check_pystepmix_version)
export(fit)
export(install.stepmix)
export(loadfit)
export(savefit)
export(stepmix)
export(mixed_descriptor)

### Simulation function
export(random_nan)
export(bakk_measurements)
export(data_bakk_response)
export(data_bakk_covariate)
export(data_bakk_complete)
export(data_generation_gaussian)
export(data_gaussian_diag)


export(identify_coef)
