### Packageversion imported from utils.
importFrom("utils", "packageVersion")

### declaration of method print and predict for
### stepmix.
S3method(print, stepmixr)
S3method(predict, stepmix.stepmix.StepMix)

### Method to export.
### Method to fit.
export(check_pystepmix_version)
export(fit)
export(install.stepmix)
export(loadfit)
export(savefit)
export(stepmix)
export(mixed_descriptor)
